.text-primary {
  color: #007fff;
}

.bg-primary {
  background: #007fff;
}

.text-gray {
  color: #8a94a6;
}

.bg-gray {
  background: #8a94a6;
}

.text-dgray {
  color: #0a1f44;
}

.bg-dgray {
  background: #0a1f44;
}

.text-blue {
  color: #007fff;
}

.bg-blue {
  background: #007fff;
}

.text-yellow {
  color: #f07300;
}

.bg-yellow {
  background: #f07300;
}

.text-red {
  color: #dd2727;
}

.bg-red {
  background: #dd2727;
}

.text-green {
  color: #0bb07b;
}

.bg-green {
  background: #0bb07b;
}

.text-white {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.text-light {
  color: #f9f9f9;
}

.bg-light {
  background: #f9f9f9;
}

.text-black {
  color: #0a1f44;
}

.bg-black {
  background: #0a1f44;
}

.text-line {
  color: #f1f2f4;
}

.bg-line {
  background: #f1f2f4;
}

.text-red-100 {
  color: #fff8f8;
}

.bg-red-100 {
  background: #fff8f8;
}

.border-red-100 {
  border-color: #fff8f8;
}

.text-red-200 {
  color: #ffeaea;
}

.bg-red-200 {
  background: #ffeaea;
}

.border-red-200 {
  border-color: #ffeaea;
}

.text-red-300 {
  color: #ffc2c2;
}

.bg-red-300 {
  background: #ffc2c2;
}

.border-red-300 {
  border-color: #ffc2c2;
}

.text-red-400 {
  color: #ff8d8d;
}

.bg-red-400 {
  background: #ff8d8d;
}

.border-red-400 {
  border-color: #ff8d8d;
}

.text-red-500 {
  color: #ff5d5d;
}

.bg-red-500 {
  background: #ff5d5d;
}

.border-red-500 {
  border-color: #ff5d5d;
}

.text-red-600 {
  color: #f03d3d;
}

.bg-red-600 {
  background: #f03d3d;
}

.border-red-600 {
  border-color: #f03d3d;
}

.text-red-700 {
  color: #dd2727;
}

.bg-red-700 {
  background: #dd2727;
}

.border-red-700 {
  border-color: #dd2727;
}

.text-red-800 {
  color: #bd0303;
}

.bg-red-800 {
  background: #bd0303;
}

.border-red-800 {
  border-color: #bd0303;
}

.text-red-900 {
  color: #a50000;
}

.bg-red-900 {
  background: #a50000;
}

.border-red-900 {
  border-color: #a50000;
}

.text-gray-100 {
  color: #fcfcfd;
}

.bg-gray-100 {
  background: #fcfcfd;
}

.border-gray-100 {
  border-color: #fcfcfd;
}

.text-gray-200 {
  color: #f8f9fb;
}

.bg-gray-200 {
  background: #f8f9fb;
}

.border-gray-200 {
  border-color: #f8f9fb;
}

.text-gray-300 {
  color: #f1f2f4;
}

.bg-gray-300 {
  background: #f1f2f4;
}

.border-gray-300 {
  border-color: #f1f2f4;
}

.text-gray-400 {
  color: #e1e4e8;
}

.bg-gray-400 {
  background: #e1e4e8;
}

.border-gray-400 {
  border-color: #e1e4e8;
}

.text-gray-500 {
  color: #c9ced6;
}

.bg-gray-500 {
  background: #c9ced6;
}

.border-gray-500 {
  border-color: #c9ced6;
}

.text-gray-600 {
  color: #b5bbc6;
}

.bg-gray-600 {
  background: #b5bbc6;
}

.border-gray-600 {
  border-color: #b5bbc6;
}

.text-gray-700 {
  color: #a6aebc;
}

.bg-gray-700 {
  background: #a6aebc;
}

.border-gray-700 {
  border-color: #a6aebc;
}

.text-gray-800 {
  color: #98a1b1;
}

.bg-gray-800 {
  background: #98a1b1;
}

.border-gray-800 {
  border-color: #98a1b1;
}

.text-gray-900 {
  color: #8a94a6;
}

.bg-gray-900 {
  background: #8a94a6;
}

.border-gray-900 {
  border-color: #8a94a6;
}

.text-dgray-100 {
  color: #758196;
}

.bg-dgray-100 {
  background: #758196;
}

.border-dgray-100 {
  border-color: #758196;
}

.text-dgray-200 {
  color: #6c798f;
}

.bg-dgray-200 {
  background: #6c798f;
}

.border-dgray-200 {
  border-color: #6c798f;
}

.text-dgray-300 {
  color: #5d6c84;
}

.bg-dgray-300 {
  background: #5d6c84;
}

.border-dgray-300 {
  border-color: #5d6c84;
}

.text-dgray-400 {
  color: #53627c;
}

.bg-dgray-400 {
  background: #53627c;
}

.border-dgray-400 {
  border-color: #53627c;
}

.text-dgray-500 {
  color: #445571;
}

.bg-dgray-500 {
  background: #445571;
}

.border-dgray-500 {
  border-color: #445571;
}

.text-dgray-600 {
  color: #364866;
}

.bg-dgray-600 {
  background: #364866;
}

.border-dgray-600 {
  border-color: #364866;
}

.text-dgray-700 {
  color: #273a5b;
}

.bg-dgray-700 {
  background: #273a5b;
}

.border-dgray-700 {
  border-color: #273a5b;
}

.text-dgray-800 {
  color: #182c4f;
}

.bg-dgray-800 {
  background: #182c4f;
}

.border-dgray-800 {
  border-color: #182c4f;
}

.text-dgray-900 {
  color: #0a1f44;
}

.bg-dgray-900 {
  background: #0a1f44;
}

.border-dgray-900 {
  border-color: #0a1f44;
}

.text-yellow-100 {
  color: #fffcf5;
}

.bg-yellow-100 {
  background: #fffcf5;
}

.border-yellow-100 {
  border-color: #fffcf5;
}

.text-yellow-200 {
  color: #fff6e4;
}

.bg-yellow-200 {
  background: #fff6e4;
}

.border-yellow-200 {
  border-color: #fff6e4;
}

.text-yellow-300 {
  color: #ffecc7;
}

.bg-yellow-300 {
  background: #ffecc7;
}

.border-yellow-300 {
  border-color: #ffecc7;
}

.text-yellow-400 {
  color: #ffdc99;
}

.bg-yellow-400 {
  background: #ffdc99;
}

.border-yellow-400 {
  border-color: #ffdc99;
}

.text-yellow-500 {
  color: #ffca65;
}

.bg-yellow-500 {
  background: #ffca65;
}

.border-yellow-500 {
  border-color: #ffca65;
}

.text-yellow-600 {
  color: #ffbb38;
}

.bg-yellow-600 {
  background: #ffbb38;
}

.border-yellow-600 {
  border-color: #ffbb38;
}

.text-yellow-700 {
  color: #ffad0d;
}

.bg-yellow-700 {
  background: #ffad0d;
}

.border-yellow-700 {
  border-color: #ffad0d;
}

.text-yellow-800 {
  color: #ff8f00;
}

.bg-yellow-800 {
  background: #ff8f00;
}

.border-yellow-800 {
  border-color: #ff8f00;
}

.text-yellow-900 {
  color: #f07300;
}

.bg-yellow-900 {
  background: #f07300;
}

.border-yellow-900 {
  border-color: #f07300;
}

.text-green-100 {
  color: #f7fffd;
}

.bg-green-100 {
  background: #f7fffd;
}

.border-green-100 {
  border-color: #f7fffd;
}

.text-green-200 {
  color: #e9fff8;
}

.bg-green-200 {
  background: #e9fff8;
}

.border-green-200 {
  border-color: #e9fff8;
}

.text-green-300 {
  color: #92eccf;
}

.bg-green-300 {
  background: #92eccf;
}

.border-green-300 {
  border-color: #92eccf;
}

.text-green-400 {
  color: #6ddfba;
}

.bg-green-400 {
  background: #6ddfba;
}

.border-green-400 {
  border-color: #6ddfba;
}

.text-green-500 {
  color: #3ed3a3;
}

.bg-green-500 {
  background: #3ed3a3;
}

.border-green-500 {
  border-color: #3ed3a3;
}

.text-green-600 {
  color: #22c993;
}

.bg-green-600 {
  background: #22c993;
}

.border-green-600 {
  border-color: #22c993;
}

.text-green-700 {
  color: #0bb07b;
}

.bg-green-700 {
  background: #0bb07b;
}

.border-green-700 {
  border-color: #0bb07b;
}

.text-green-800 {
  color: #00865a;
}

.bg-green-800 {
  background: #00865a;
}

.border-green-800 {
  border-color: #00865a;
}

.text-green-900 {
  color: #006242;
}

.bg-green-900 {
  background: #006242;
}

.border-green-900 {
  border-color: #006242;
}

.text-blue-100 {
  color: #f5faff;
}

.bg-blue-100 {
  background: #f5faff;
}

.border-blue-100 {
  border-color: #f5faff;
}

.text-blue-200 {
  color: #ebf5ff;
}

.bg-blue-200 {
  background: #ebf5ff;
}

.border-blue-200 {
  border-color: #ebf5ff;
}

.text-blue-300 {
  color: #cce6ff;
}

.bg-blue-300 {
  background: #cce6ff;
}

.border-blue-300 {
  border-color: #cce6ff;
}

.text-blue-400 {
  color: #9cf;
}

.bg-blue-400 {
  background: #9cf;
}

.border-blue-400 {
  border-color: #9cf;
}

.text-blue-500 {
  color: #5aacff;
}

.bg-blue-500 {
  background: #5aacff;
}

.border-blue-500 {
  border-color: #5aacff;
}

.text-blue-600 {
  color: #007fff;
}

.bg-blue-600 {
  background: #007fff;
}

.border-blue-600 {
  border-color: #007fff;
}

.text-blue-700 {
  color: #0c66ff;
}

.bg-blue-700 {
  background: #0c66ff;
}

.border-blue-700 {
  border-color: #0c66ff;
}

.text-blue-800 {
  color: #0d55cf;
}

.bg-blue-800 {
  background: #0d55cf;
}

.border-blue-800 {
  border-color: #0d55cf;
}

.text-blue-900 {
  color: #0a44a5;
}

.bg-blue-900 {
  background: #0a44a5;
}

.border-blue-900 {
  border-color: #0a44a5;
}
